.my-fullscreen {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.my-layout-containder-v {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-self: stretch;
  justify-content: space-between;
}

.my-layout-cell {
  
}

.my-layout-cell-scaled {
  flex-grow: 1;
}

.my-layout-containder-h {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-self: stretch;
  justify-content: space-between;
}
